:root {
  --blue: #1992d4;
  --gray: #e2e8f0;
  --gold: #f0b429;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 5fr;

  height: 100%;
  margin: 0;
}

#sidebar {
  background: var(--blue);
  grid-row: 1 / 3;
}

#header {
  grid-column: 2 / 3;
}

#main {
  background: var(--gray);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}